body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #0d1117;
  color: #c9d1d9;
}

.skip {
  position: absolute;
  top: -40px;
  left: 10px;
  background: #58a6ff;
  color: #fff;
  padding: 8px;
}

.skip:focus {
  top: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  background: #161b22;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav ul li {
  margin: 10px;
}

nav a {
  color: #58a6ff;
  text-decoration: none;
  padding: 8px 16px;
  font-weight: bold;
}

nav a:hover {
  background: #238636;
  border-radius: 5px;
  transition: 0.3s;
  color: white;
}

/* Hình ảnh */
img {
  border: 2px solid #30363d;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  width: 250px;
}

.gallery .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* nth-child */
.gallery img:nth-child(even) {
  border-radius: 50%;
}

footer {
  background-color: #161b22;
  color: #8b949e;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
